<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<h2>Incoming Messages</h2>
<ul></ul>
<script>
    var socket =
        io.connect(
            'http://localhost:8080', {
                reconnect: true
            }
        )

    socket.on("msg", function(user) {
        debugger
        $.ajax({
                method: "get",
                url: `http://localhost:3000/pings/server?id=${user}`,
            })
            .then(function(data) {
                data.forEach(function(message) {
                    $('ul').append(`<li>${message.message.zen}</li>`)
                })
            })

    })
</script>