<h2>Incoming Messages</h2>
<button id='reload-messages' data-id=<%=current_user.id%>>Reload</button>
<ul></ul>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    $('h1');
    var socket =
        io.connect(
            'http://localhost:8080', {
                reconnect: true
            }
        )

    socket.on("msg", (user) => retrieveMessages(user))
  });
</script>
<%= javascript_include_tag "get_messages.js" %>