<div class='welcome'>
    You are signed in as
    <%= current_user.email %>
</div>

  <div>
    <%= button_to "Set Hooks", new_hooks_github_broadcast_path, method: :get, class:"btn btn-lg btn-block user-btn" %>
    <%= button_to "Edit Hooks", hooks_github_broadcast_edit_path,  method: :get, class:"btn btn-lg btn-block user-btn"%>
    <%= button_to "Main Page", main_path,  method: :get, class:"btn btn-lg btn-block user-btn"%>
    </div>