<div class='welcome'>
    You are signed in as
    <%= current_user.email %>
</div>

  <div>
    <%= button_to "Settings", hooks_path, method: :get, class:"btn btn-lg btn-block user-btn" %>
    <%= button_to "Main Page", main_path,  method: :get, class:"btn btn-lg btn-block user-btn"%>
    </div>