---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100&sort=updated&type=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - W/"522ec9907d46a5eb11b9163517a1e5c6"
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":101660095,"name":"four_principle_examples","full_name":"Benjaminpjacobs/four_principle_examples","owner":{"login":"Benjaminpjacobs","id":24966769,"avatar_url":"https://avatars0.githubusercontent.com/u/24966769?v=4","gravatar_id":"","url":"https://api.github.com/users/Benjaminpjacobs","html_url":"https://github.com/Benjaminpjacobs","followers_url":"https://api.github.com/users/Benjaminpjacobs/followers","following_url":"https://api.github.com/users/Benjaminpjacobs/following{/other_user}","gists_url":"https://api.github.com/users/Benjaminpjacobs/gists{/gist_id}","starred_url":"https://api.github.com/users/Benjaminpjacobs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Benjaminpjacobs/subscriptions","organizations_url":"https://api.github.com/users/Benjaminpjacobs/orgs","repos_url":"https://api.github.com/users/Benjaminpjacobs/repos","events_url":"https://api.github.com/users/Benjaminpjacobs/events{/privacy}","received_events_url":"https://api.github.com/users/Benjaminpjacobs/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Benjaminpjacobs/four_principle_examples","description":null,"fork":false,"url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples","forks_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/forks","keys_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/teams","hooks_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks","issue_events_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/issues/events{/number}","events_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/events","assignees_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/assignees{/user}","branches_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/branches{/branch}","tags_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/tags","blobs_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/git/refs{/sha}","trees_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/statuses/{sha}","languages_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/languages","stargazers_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/stargazers","contributors_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/contributors","subscribers_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/subscribers","subscription_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/subscription","commits_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/commits{/sha}","git_commits_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/git/commits{/sha}","comments_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/comments{/number}","issue_comment_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/issues/comments{/number}","contents_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/contents/{+path}","compare_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/merges","archive_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/downloads","issues_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/issues{/number}","pulls_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/pulls{/number}","milestones_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/milestones{/number}","notifications_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/labels{/name}","releases_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/releases{/id}","deployments_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/deployments","created_at":"2017-08-28T15:51:08Z","updated_at":"2017-08-28T15:51:22Z","pushed_at":"2017-08-28T15:51:21Z","git_url":"git://github.com/Benjaminpjacobs/four_principle_examples.git","ssh_url":"git@github.com:Benjaminpjacobs/four_principle_examples.git","clone_url":"https://github.com/Benjaminpjacobs/four_principle_examples.git","svn_url":"https://github.com/Benjaminpjacobs/four_principle_examples","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":101504221,"name":"my_stack_rails_server","full_name":"Benjaminpjacobs/my_stack_rails_server","owner":{"login":"Benjaminpjacobs","id":24966769,"avatar_url":"https://avatars0.githubusercontent.com/u/24966769?v=4","gravatar_id":"","url":"https://api.github.com/users/Benjaminpjacobs","html_url":"https://github.com/Benjaminpjacobs","followers_url":"https://api.github.com/users/Benjaminpjacobs/followers","following_url":"https://api.github.com/users/Benjaminpjacobs/following{/other_user}"[...]
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - W/"0f4d408ff7acd19cc61edb6c197ee8c4"
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"Repository","id":15794216,"name":"web","active":true,"events":["pull_request","push"],"config":{"content_type":"json","url":"https://c51ae9a0.ngrok.io/hooks/github","insecure_ssl":"0"},"updated_at":"2017-08-28T22:24:08Z","created_at":"2017-08-28T22:24:08Z","url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks/15794216","test_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks/15794216/test","ping_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks/15794216/pings","last_response":{"code":200,"status":"active","message":"OK"}}]'
  recorded_at: Mon, 28 Aug 2017 22:28:45 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/my_stack_rails_server/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/quantified-self-express-api/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/quantified-self-client/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/podoglyph/quantified-self-api/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1503961449'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 28 Aug 2017 22:28:47 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/javascript-tic-tac-toe/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/javascript-add-comments-challenge/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:47 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/javascript-style-editor-challenge/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/javascript-roman-numerals/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/javascript-basics-challenge/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/js-sorting-suite/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/corkboard/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/SCRS/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/corkboard-micro/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/module_3_assesment/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/trail-up/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/bike-share/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/MrAaronOlsen/trail-up/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1503961449'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 28 Aug 2017 22:28:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/house-salad/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/little-shop/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/request-line/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/classroom-exercises/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/scrabble/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 22:28:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Benjaminpjacobs/jungle-beat/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"171f8df3e6f9e41566b20ade55e393b4"'
      X-Oauth-Scopes:
[...]
