---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"https://c51ae9a0.ngrok.io/hooks/github","content_type":"json"}}'
    headers:
      Authorization:
      - token b738cee1dd40e951493105ea08cd927333628899
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1503961449'
      Etag:
      - '"d17c013066c999826755afda654eca82"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      X-Oauth-Client-Id:
      - 6261781d422834705ef2
      Location:
      - https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks/15794216
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":15794216,"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"https://c51ae9a0.ngrok.io/hooks/github","content_type":"json","insecure_ssl":"0"},"updated_at":"2017-08-28T22:24:08Z","created_at":"2017-08-28T22:24:08Z","url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks/15794216","test_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks/15794216/test","ping_url":"https://api.github.com/repos/Benjaminpjacobs/four_principle_examples/hooks/15794216/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Mon, 28 Aug 2017 22:24:07 GMT
recorded_with: VCR 3.0.3
