body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 2%
}

.container {
    display: flex;
}

.logo {
    width: 350px;
    height: 250px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    width: 200px;
    padding-right: 80px;
}

.user-btn {
    width: 100px;
    color: white;
    font-weight: 100;
    font-size: 16px;
    background-color: #FEBB55;
    margin: 20px;
    padding-right: 20px;
}

.sign-in {
    // margin: 5% 0 0 10%;
    form {
        margin: 10px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    button {
        margin: 10px 0;
        box-shadow: 5px 5px 2px #888888;
    }
    button:hover {
        position: relative;
        bottom: 2px;
        right: 2px;
        box-shadow: 10px 10px 5px #888888;
    }
}

.messages {
    margin-top: 20px;
}

.clear-btn {
    margin: 10px 5px;
    border-style: none;
    background-color: #FEBB55;
    color: white;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.1ch;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #888888;
    text-shadow: 1px 1px #868478;
}

.clear-btn:hover {
    color: white;
    background-color: #CF9442
}

.message {
    padding: 10px;
    margin: 18px 10px;
    border-radius: 5px;
    background-color: #A8A8A8;
    color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-shadow: 2px 2px #888888;
    box-shadow: 10px 10px 5px #888888;
    .message-contents {
        max-width: 600px;
    }
    h3 {
        font-size: 1.2em;
        padding: 5px;
        width: 100%;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        padding: 5px;
        max-width: 80%;
    }
    button {
        margin: 10px 5px;
        border-style: none;
        height: 30px;
        width: 150px;
        background-color: #FEBB55;
        color: white;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.1ch;
        border-radius: 5px;
        text-shadow: 1px 1px #888888;
        box-shadow: 5px 5px 2px #888888;
    }
    button:hover {
        color: white;
        background-color: #CF9442;
        position: relative;
        bottom: 2px;
        right: 2px;
        box-shadow: 10px 10px 5px #888888;
    }
}

.settings-page {
    display: flex;
    width: 100%;
}

.settings-container {
    width: 100%;
    padding-top: 100px;
}

.nav-buttons {
    input {
        width: 150px;
        font-weight: 800;
        font-size: 20px;
        text-shadow: 1px 1px #888888;
        box-shadow: 5px 5px 2px #888888;
    }
    input:hover {
        color: white;
        position: relative;
        bottom: 2px;
        right: 2px;
        box-shadow: 10px 10px 5px #888888;
    }
}

.github-links,
.google-links,
.slack-links,
.facebook-links,
.twitter-links,
{
    border-bottom: 1px solid black;
    width: 90%;
    padding: 20px;
    margin: 10px;
    button {
        box-shadow: 5px 5px 2px #888888;
    }
    button:hover {
        position: relative;
        bottom: 2px;
        right: 2px;
        box-shadow: 10px 10px 5px #888888;
    }
    a:hover {
        text-decoration: none
    }
}