body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 2%
}

.container {
    display: flex;
}

.logo {
    width: 350px;
    height: 250px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    width: 200px;
    padding-right: 80px;
}

.user-btn {
    width: 100px;
    color: white;
    font-weight: 100;
    font-size: 16px;
    background-color: #FEBB55;
    margin: 20px;
    padding-right: 20px;
}

.sign-in {
    // margin: 5% 0 0 10%;
    form {
        margin: 10px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    button {
        margin: 10px 0;
    }
}

.messages {
    margin-top: 20px;
}

.message {
    padding: 10px;
    margin: 18px 10px;
    border-radius: 5px;
    background-color: #A8A8A8;
    color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    .message-contents {
        max-width: 600px;
    }
    h3 {
        font-size: 1.2em;
        padding: 5px;
        width: 100%;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        padding: 5px;
        max-width: 80%;
    }
    button {
        margin: 10px 5px;
        border-style: none;
        height: 30px;
        width: 100px;
        background-color: #FEBB55;
        color: white;
        font-size: .80em;
        font-weight: 800;
        letter-spacing: 0.1ch;
        border-radius: 5px;
    }
}

.settings-container {
    width: 90%;
}

.github-repos {
    border-bottom: 1px solid black;
    width: 90%;
    padding: 20px;
    margin: 10px;
}

.repo-list {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 300px;
    overflow: scroll;
}

.google-links {
    border-bottom: 1px solid black;
    width: 90%;
    padding: 20px;
    margin: 10px;
}